<label class="label"><%= label %></label>
<div class="join" data-controller="password-visibility">
  <%= form.password_field name,
                          required: true,
                          autocomplete: "current-password",
                          placeholder: placeholder,
                          class: "input join-item",
                          data: {
                            password_visibility_target: "input",
                          },
                          maxlength: 72 %>

  <button class="btn btn-neutral rounded-r-lg" data-action="password-visibility#toggle">
    <%= tabler_icon(
          "eye-closed",
          size: "1.5rem",
          "data-password-visibility-target": "iconHide",
          class: "hidden",
        ) %>
    <%= tabler_icon("eye", size: "1.5rem", "data-password-visibility-target": "iconShow") %>
  </button>
</div>
